.forecast-container {
    background-color: #00A2EF;
    border-radius: 4px;
    height: 330px;
    width: 465px;
}

.forecast-return {
    height: 25px;
    width: 25px;
}

    .forecast-return:hover {
        opacity: 0.6;
    }

.forecast-current-container {
}

.forecast-date {
    font-size: 16px
}

.forecast-degrees {
    font-size: 70px
}

.forecast-daily-container {
    background-color: #B7E0F8;
}

    .forecast-daily-container p {
        color: #364954;
    }

.forecast-daily-item-title {
    color: #1666a1 !important;
    font-size: 12px;
}

.forecast-daily-item-temp {
    font-size: 11px;
}

.forecast-daily-item-condition {
    background-color: #95C7FB;
    border-radius: 50%;
    height: 40px;
    width: 40px;
}

    .forecast-daily-item-condition img {
        height: 35px;
        width: 35px;
    }