.search-container {
    background-color: #B7E0F8;
    border-radius: 4px;
    width: 450px;
}

.search-title {
    color: #364954;
}

.search-form {
    height: 35px
}

.search-input {
    border-radius: 3px;
    border: none;
    font-size: 12px;
    padding-left: 10px;
}

.search-btn {
    background-color: #00A2EF;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 13px;
}

.search-btn:hover {
    background-color: #186B99;
}
