@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

body {
    background-color: #A2E1E5;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
}

.avatar {
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

.main-container {
    background-color: #B7E0F8;
    height: 350px;
    width: 650px;
}

.container-current {
    border-radius: 30px;
}

.container-next-days {
    border-radius: 30px;
    text-align: center;
    width: 220px;
}

.forecast-item {
    background-color: #5CAEE9;
    flex-grow: 1;
}

    .forecast-item:hover {
        background-color: #1994EE;
    }

.current-forecast {
}

.forecast-date {
    font-size: 16px
}

.forecast-degrees {
    font-size: 70px
}

.circle {
    background-color: #1994EE;
    border-radius: 50%;
    height: 30px;
    width: 30px;
}

.forecast-input {
    border-radius: 3px;
    border: none;
    padding-left: 10px;
    width: 100%
}
